*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: black;
}
header h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 5px;
}